<b>NAME</b>
wt -- manage your work time

<b>SYNOPSIS</b>
wt [action] [options]

<b>DESCRIPTION</b>
Simple application for recording your work time.

<i><u>The following actions are available:</u></i>

    help | h
        Default action. If you run it without any option.
        No supported options.

    cat
        Prints a month data file.
        Supported options: [-y], [-m]

    clear | c
        Clear a day data.
        Supported options: -y, -m, -d

    update | up | u
        Update a day value.
        Supported options: [-y], [-m], [-d], [-s], [-e], [-l], [-a], [--desc], [--off], [-v]

    report | rep | r
        Show a report.
        Supported options: [-y], -m, -d, -b
        If only the year is passed then it will be a yearly report.
        If year and month are passed then it will be a monthly report.
        If year, month and day are passed then it will be one day report.
        If only the day is passed then it will be one day report report. See the dafault values.

<i><u>The following options are available:</u></i>

    -y <value>, --year <value>
        Four digits number.
        Default value: current year

    -m <value>, --month <value>
        One or two digits number.
        Default value: current month

    -d <value>, --day <value>
        One or two digits number.
        Default value: current day

    -b, --table-border
        Display table border

    -s <value>, --start-time <value>
        Format: HH:MM:SS | now
        Example: 08:03:23, 17:32:00
        Default value: now

    -e <value>, --end-time <value>
        Format: HH:MM:SS | now
        Example: 08:03:23, 17:32:00
        Default value: now

    -l <value>, --lunch <value>
        Format: number
        Example: 1, 23, 150
        Default value: empty text

    -a <value>, --absence <value>
        Format: number
        Example: 1, 23, 150
        Default value: empty text

    --desc <value>, --description <value>
        Default value: empty text

    --off, --day-off
        Format: string
        True (yes) values: yes | y | 1 | true
        Default value: 1 (true, yes)

    -v, --verbose
        Default value: false

    --debug
        Allways supported
